<span defaultOverlayTarget></span>
<div class="card-block">
    <div class="row mb-1">
        <div class="col-md-4 col-xs-8" >
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Поиск"/>
            </div>
        </div>
        <div class="col-md-8 col-xs-4 text-right">
            <span class="btn btn-primary" (click)="onAdd()">Добавить</span>
        </div>
    </div>
    <table class="table table-striped" [mfData]="data | employeesDataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
        <tr>
            <th style="width: 64px" class="text-center">
                Фото
            </th>
            <th style="width: 30%" *ngIf="!hideDepartments">
                <mfDefaultSorter by="name">ФИО</mfDefaultSorter>
            </th
            ><th style="width: 60%" *ngIf="hideDepartments">
                <mfDefaultSorter by="name">ФИО</mfDefaultSorter>
            </th>
            <th style="width: 30%" *ngIf="!hideDepartments">
                <mfDefaultSorter by="departmentText">Отдел</mfDefaultSorter>
            </th>
            <th style="width: 40%" class="text-center">
                Действия
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data">
            <td (click)="onShow(item.id)">
                <div [ngStyle]="{'background-image':'url(' + item.photoUrl + ')'}" class="avatar"></div>
            </td>
            <td (click)="onShow(item.id)">{{item.name}}</td>
            <td (click)="onShowDepartment(item.department)" *ngIf="!hideDepartments">
                <button class="btn btn-link" (click)="toDepartment(item.department)">{{item.departmentText}}</button>
            </td>
            <td class="text-center">
                <button class="btn btn-link" (click)="onEdit(item.id)">Редактировать</button>
                <button class="btn btn-link" (click)="onDelete(item.id)">Удалить</button>
            </td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
