<ng-sidebar-container>
    <ng-sidebar
        [(opened)]="_opened"
        [mode]="_MODES[_modeNum]"
        [keyClose]="_keyClose"
        [position]="_POSITIONS[_positionNum]"
        [dockedSize]="'200px'"
        [closeOnClickOutside]="_closeOnClickOutside"
        [showBackdrop]="_showBackdrop"
        [animate]="_animate"
        [trapFocus]="_trapFocus"
        [autoFocus]="_autoFocus"
        [sidebarClass]="'my-sidebar'"
        [ariaLabel]="'My sidebar'"
    >
        <div class="row">
            <div class="col-xs-12">
                <p>М Е Н Ю</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-12 ">
                <a href="javascript:void(0)" class="nav-link" (click)="departmentsOpen()">Отделы</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="javascript:void(0)" class="nav-link" (click)="employeesOpen()">Сотрудники</a>
            </div>
        </div>





    </ng-sidebar>



</ng-sidebar-container>

<header class="header">
    <a href="javascript:void(0)" (click)="_toggleOpened()" class="header__toggle"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
</header>
<breadcrumb></breadcrumb>

<router-outlet></router-outlet>
