<ng-sidebar-container>
    <ng-sidebar
        [(opened)]="_opened"
        [mode]="_MODES[_modeNum]"
        [keyClose]="_keyClose"
        [position]="_POSITIONS[_positionNum]"
        [dockedSize]="'50px'"
        [closeOnClickOutside]="_closeOnClickOutside"
        [showBackdrop]="_showBackdrop"
        [animate]="_animate"
        [trapFocus]="_trapFocus"
        [autoFocus]="_autoFocus"
        [sidebarClass]="'demo-sidebar'"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"
        (onClosed)="_onClosed()"
        (onAnimationStart)="_onAnimationStart($event)"
        (onAnimationDone)="_onAnimationDone($event)">
        <p>Sidebar contents</p>
        <button class="demo-control" (click)="_toggleOpened()">Close sidebar</button>
        <p><a closeSidebar>This will close the sidebar too</a></p>
    </ng-sidebar>
    <header class="demo-header">
        <button (click)="_toggleOpened()" class="demo-header__toggle">Toggle sidebar</button>
        <span>ng-sidebar</span>
    </header>
    <section class="demo-contents">
        <h1>Controls</h1>
        <button class="demo-control" (click)="_toggleOpened()">opened ({{_opened}})</button>
        <button class="demo-control" (click)="_toggleMode()">mode ({{_MODES[_modeNum]}})</button>
        <button class="demo-control" (click)="_togglePosition()">position ({{_POSITIONS[_positionNum]}})</button>
        <button class="demo-control" (click)="_toggleCloseOnClickOutside()">closeOnClickOutside ({{_closeOnClickOutside}})</button>
        <button class="demo-control" (click)="_toggleShowBackdrop()">showBackdrop ({{_showBackdrop}})</button>
        <button class="demo-control" (click)="_toggleAnimate()">animate ({{_animate}})</button>
        <button class="demo-control" (click)="_toggleTrapFocus()">trapFocus ({{_trapFocus}})</button>
        <button class="demo-control" (click)="_toggleAutoFocus()">autoFocus ({{_autoFocus}})</button>
        <button class="demo-control" (click)="_toggleKeyClose()">keyClose ({{_keyClose}})</button>
    </section>
    <router-outlet></router-outlet>

</ng-sidebar-container>
